[disabled]:hover{cursor: not-allowed;}

.tbl-width--50px{width: 50px;}
.tbl-width--100px{width: 100px;}
.tbl-width--sma{width: 7em;}
.tbl-width--mid{width: 6em;}
.tbl-min_width--big{width: 12em;}

.tbl-row_action:hover{cursor: pointer; text-decoration: underline;}
.tbl-row_action{color: #0073aa;}
.tbl-row_action--delete{color: #a00;}
.tbl-row_action--replace{color: #a00;}
.tbl-row_action--approve{color: #0a0;}
/* .tbl-row_action--send{color: black;} */
/* .tbl-row_action--view{color: blue;} */
/* .tbl-row_action--compare{color: orange;} */
.tbl-row_action--hide{color: gray;}

/* Headaings */
.tbl-sorting_indicator{margin-left: 10px; visibility: hidden; border: 1px solid rgba(0,0,0,0);}
.tbl-sorting_indicator--sorted{color: rgba(80,80,220,0.8); visibility: visible;}
.tbl-column-sortable:hover{cursor: pointer;}
.tbl-column-sortable:hover .tbl-sorting_indicator{visibility: visible; border: 1px solid black; border-radius: 6px;}
.spbc_hint--icon{color: #999;}
.spbc_hint--icon:hover{color: #000;}
.spbc_hint--icon:hover + .spbc_hint--text{display: block; }
.spbc_hint--text{display: none; color: #999;}

.tbl-button{
	display: inline-block;
    line-height: 20px;
    height: 25px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
	color: #555;
    background: #f7f7f7;
    vertical-align: top;
}

.tbl-select{
	padding: 2px;
	line-height: 20px !important;
    height: 25px !important;
}
.tbl-preloader--small{display: none; width: 15px; height: 15px; margin: 0 5px; vertical-align: middle;}
.tbl-preloader--tiny {display: none; width: 10px; height: 10px; margin: 0 5px;}

.tbl-bulk_actions--wrapper{display: inline-block;}
.tbl-bulk_actions--apply{margin: 0 5px;}


.tbl-pagination--wrapper{display: inline-block; padding: 5px 0; vertical-align: middle;}
.tbl-pagination--total{vertical-align: text-bottom; margin: 0 5px;}
.tbl-pagination--curr_page{width: 36px; padding: 3px 5px; font-size: 13px; text-align: center;}
.tbl-pagination--button{margin: 0 5px;}