.spbcDisplayNone{ display: none; }

table.spbc_table_general {width: 100%; border: 0px;border-spacing: -0em; border-collapse: collapse;}
table.spbc_table_general th, table.spbc_table_general td {border: 1px solid #666; padding: 0.1em;}

.spbc_rate_plugin {text-align: center;}
.spbc_rate_block {border: 1px dashed #666; width: 400px; text-align: center; padding: 0.2em;}
.spbc_rate_block {margin-top: 1em; margin-bottom: 1em;}

.spbc_hint {color: #666;}

.spbc_button_rate {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #216298;
    border-radius: 8px;
    background: #35a0f7;
    background: -webkit-gradient(linear, left top, left bottom, from(#35a0f7), to(#216298));
    background: -moz-linear-gradient(top, #35a0f7, #216298);
    background: linear-gradient(to bottom, #35a0f7, #216298);
    text-shadow: #153e5f 1px 1px 1px;
    font: normal normal bold 16px verdana;
    color: #ffffff;
    text-decoration: none;
}
.spbc_button_rate:hover,
.spbc_button_rate:focus {
    border: 1px solid ##297bbe;
    background: #40c0ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#40c0ff), to(#2876b6));
    background: -moz-linear-gradient(top, #40c0ff, #2876b6);
    background: linear-gradient(to bottom, #40c0ff, #2876b6);
    color: #ffffff;
    text-decoration: none;
}
.spbc_button_rate:active {
    background: #216298;
    background: -webkit-gradient(linear, left top, left bottom, from(#216298), to(#216298));
    background: -moz-linear-gradient(top, #216298, #216298);
    background: linear-gradient(to bottom, #216298, #216298);
}
.spbc_button_rate:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACjElEQVRIie1UTWsTURQ9dzKpofQLobQFlxqENF1JG0GE6sKuRLDtTKaBkJUIRdwpba2g9ge48gMEUUyTbrUutFmk1X6Q7kxDgi1YUSmlpsGYiTXtuy7GCYnaSRu3PczAfe/dd8695z0ecIAKsFVK0DQNLpcL8Xi8KgHZalFRNWe7uyMs2+RtkBQIjQerU/k3uVceHhmdyed/8NbWFg8OXrlXDY+020JdXf2NQMB/yuE4hHw+j5yur1df7h9QvQMXpiKRHSEECyF4cvJlQVG149VwlZ1BX58fsn1H7e29+OhMd7cEAMyM6PTMNAgfFUWrJSIAQgCAYAKIAECABACABGFt7fPPaDRqjItVqyrqG5vGAn7/kMfTBYMIyGQyeD0VMZKYweYGM2ZjpnR+eWVl8V08fnYiNP6t1Jbzc3PzbNryP38stsiKqp0uWuTz+eBqd9/s6uo02vpdPTOXxZuZDB7cfwgQGa0TIEmS7nA4PhhDkgBgdXV1FkTzRYHCtjjS4XZ3mGQmSsdEhKbGRqhqPwRz0ZOlRKImGBy/FA4F31gd8tG2tjaZmf+VUybS2tpaNpfeTMsADu+2xxRw2O12ENFftpTG6XQat26PQZIIzEA2m/1SKBSGGXhhWZmiaifezs7yfhGdnmFF1TqtuM0OksvvlzMnPZ4mq+RkMoVsNlu83ImlxDqATxUFwqHg94aGhsc9PeeuNjc372pRMpnExsZX5HI5xBZjd3aEuBsOBTcs7TGherXaa9eHIqlUioUQltYIIXhkZPT5XnjL7qXi1Wpkm6w5nccGWlpanLJNlkGQyEw1Pui6rs8tLFx+9vTJq30JlKK/3ycRCQkSFZ8Dcwszi4lwUOylgwNUxC8cBKAS7hIWzwAAAABJRU5ErkJggg==") no-repeat left center transparent;
    background-size: 100% 100%;
}

.spbc_rate_block_stars {margin-top: 1em;}

.star-icon {
    color: #ddd;
    font-size: 18px;
    position: relative;
}
.star-icon.full:before {
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF8 */
    position: absolute;
    left: 0;
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
}

.spbc_auto_link{
	background: #ccc;
	border-color: #999;
	-webkit-box-shadow: inset 0 1px 0 rgba(200,200,200,.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(200,200,200,.5),0 1px 0 rgba(0,0,0,.15);
	color: #000;
	text-decoration: none;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.spbc_auto_link:hover{
	color: #fff;
}
.spbc_manual_link 
{
	background: #2ea2cc;
	border-color: #0074a2;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.spbc_manual_link:hover
{
	color:black;
}
.spbc_dismiss{
	width: 20px; height: 20px;
	background: 
	border-radius: 5px;
}
.spbc-div-2 {display: inline-block;}

.spbc-links:visited{
	color: white;
}