#spbcTopWarning {margin-bottom: 5px;}
#spbcTopWarning h3{margin: 10px 0 5px 0;}
#spbcTopWarning h4{margin: 10px;}
#spbcTopWarning h4 span{margin-top: 5px;}

#spbc_gdpr_open_modal:hover{cursor: pointer;}

.spbc---hidden{display: none;}

.spbc_gray{color: gray;}
.spbc_bold{font-weight: 800;}

.spbc_waf_reason_title{text-decoration: underline;}
.spbc_waf_reason{display: none;}
.spbc_waf_reason_title:hover + .spbc_waf_reason{display: inline;}

.spbc_warning_counter{
	margin: 0 5px;
    padding: 0 7px;
    font-size: 14px;
    height: 23px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
}

.spbc_sub_setting{margin-left: 30px !important;}

.spbc_warning_counter--black {color: white; background-color: black;}
.spbc_warning_counter--red   {color: black; background-color: red;}
.spbc_warning_counter--orange{color: black; background-color: orange;}
.spbc_warning_counter--green {color: black; background-color: green;}

.spbc_highlighted{
	outline-offset: 5px;
	outline-color: red;
	outline-width: 3px !important;
	outline-style: solid !important;
}
.spbc_status_icon{
	vertical-align: text-bottom;
	margin: 0 5px;
}

.spbc_progressbar_counter{
	position: absolute;
	height: 22px;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
}
	.spbc_progressbar_counter span{
		vertical-align: sub;
		line-height: 22px;
		font-weight: 600;
		font-size: 18px;
	}
.ui-progressbar-value{ background-image: url(../images/pbar-ani.gif) !important; }

/* #spbc_perform_scan{ margin-bottom: 12px; } */
	
.spbc_preloader{ width: 20px; margin-left: 5px; vertical-align: text-top; display: none; }
.spbc_preloader_button{ height: 15px; margin-left: 5px; vertical-align: text-top; display: none; }

.spbc_spinner_big { display: block; margin: 40px auto; }

.spbc_scan_result_row td { text-align: center; }
.spbc_scan_result_row td:nth-child(1){ text-align: left; }
.spbc_scan_result_row td:nth-child(2){ text-align: right; }

.spbc_scan_result_row td:last-child button{ margin-left: 3px; }

.spbc_view_file_row_wrapper { line-height: 19px; }
.spbc_view_file_row_wrapper:nth-child(odd) { background: #ccc; }
.spbc_view_file_row_wrapper:nth-child(even) { background: #ddd; }
.spbc_view_file_row_num { display: inline-block; width: 30px; margin: 0 0 0 5px; border-right: 1px solid black; }
.spbc_view_file_row { display: inline; margin: 0 0 0 5px; }

.spbc_compare_file_row_wrapper { line-height: 19px; }
.spbc_compare_file_row_wrapper:nth-child(odd) { background: #ccc; }
.spbc_compare_file_row_wrapper:nth-child(even) { background: #ddd; }
.spbc_compare_file_row_num { display: inline-block; width: 30px; margin: 0 0 0 5px; border-right: 1px solid black; }
.spbc_compare_file_row { display: inline-block; width: 300px; margin: 0; padding: 0 8px; }
.spbc_compare_file_row:nth-child(3) { border-left: 1px solid black; }

table.spbc_table_general {width: 100%; border: 0px; border-spacing: -0em; border-collapse: collapse;}
table.spbc_table_general th, table.spbc_table_general td {position: relative; border: 1px solid #666; padding: 2px 10px;}

.spbcShortText{
	display: inline;;
}
.spbcFullText{
	display: none;
	position: absolute;
	top: 0;
	background: rgba(56,172,214,.9);;
	padding: 7px;
	border: 1px solid rgb(51, 51, 51);
	border-radius: 5px;
	z-index: 20;
}

/* Pagination */
div.pagination{
	margin: 10px;
}
	ul.pagination{
		display: inline-block;
		margin: 0;
	}
		li.pagination{
			display: inline-block;
			margin-left: 10px;
		}
		span.current_page{
			font-size: 1.3em;
			font-weight: 600;
		}

.spbc_new{
    color: red;
    position: relative;
    font-size: 10px;
    vertical-align: bottom;
    top: -8px;
}

.spbc_wrapper_settings{
	margin: 10px 0 0 0;
	/* outline: 1px solid black; */
}
/* TABS */
.spbc_tabs_nav_wrapper{
	display: block;
	border-bottom: 1px solid #ccc;
}
	.spbc_tab_nav{
		display: inline-block;
		margin: 10px 0 0 .5em;
		padding: 5px 10px;
		height: 24px;
		border: 1px solid #ccc;
		border-bottom: none;
		font-size: 14px;
		line-height: 24px;
		background: #e5e5e5;
		color: #555;
		cursor: pointer;
	}
	.spbc_tab_nav:hover{background: #fff;}
	
	.spbc_tab_nav--active{
		margin-bottom: -1px;
		border-bottom: 1px solid #f1f1f1;
		background: #f1f1f1;
		color: #000;
	}
	.spbc_tab_nav--active:hover{background: #f1f1f1;}
	

.spbc_tab{
	display: none;
	margin: 15px 0;
}

.spbc_tab--active{display: block;}

	.spbc_tab_fields_group{
		position: relative;
		min-width: 255px;
		margin: 10px auto;
		border: 1px solid #e5e5e5;
		box-shadow: 0 1px 1px rgba(0,0,0,.04);
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
		background: #fdfdfd;
	}
		h3.spbc_group_header{
			margin: 0 0 10px 0;
			padding: 10px;
			border-bottom: 1px solid #eee;
		}
		
		.spbc_wrapper_field{
			margin: 0 15px 15px 15px;
		}

            .spbc_long_description__show:hover{
                color: #aaaaaa;
                cursor: pointer;
            }

            .spbc_settings_description{
				font-size: 10pt;
				color: #666;
			}
			.spbc_tab-settings_general input[type=text] {
				min-width: 255px; width: 100%;
			}
				.spbc_short_text_field input{
					min-width: 70px !important;
					width: 70px !important;
				}
				.spbc_long_text_field input[type=text]{
					min-width: 200px;
					width: 500px;
				}
			.spbc_wrapper_field label{
				vertical-align: baseline;
			}
			.spbc_wrapper_field h4{
				margin: 10px 15px 5px 15px;
			}
			
.spbc_wrapper_footer{
	margin: 15px;
}

#spbc_wrapper_error{
	margin: 0;
	padding: 5px;
}
#spbc_wrapper_error h3, #spbc_wrapper_error h4{
	margin: 5px;
}

/* Show/hide key link */
#showHideLink{
	display: inline-block;
	margin-top: 5px;
	color: #777;
}

/* Log button */
.spbc__wrapper--center{margin: 10px 0 10px 0; text-align: center;}
.spbc__show_more_logs{display: none;}
	#spbc_show_more_button{}
	
/* Settings banners  */
.spbc_settings_banner{
	display:inline-block;
	margin: 1em 0;
	vertical-align: top;
	text-align: center;
}
	#spbc_rate_plugin {}
	.spbc_rate_block {border: 1px dashed #666; width: 400px; padding: 0.2em;}

	#spbc_translate_plugin {margin-left: 10px;}
	.spbc_rate_block {border: 1px dashed #666; width: 400px; padding: 0.2em;}
		#spbc_translate_plugin .spbc_button_rate{margin-bottom: 10px;}
		
	.spbc_button_rate {
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		padding: 12px 24px;
		border: 1px solid #216298;
		border-radius: 8px;
		background: #35a0f7;
		background: -webkit-gradient(linear, left top, left bottom, from(#35a0f7), to(#216298));
		background: -moz-linear-gradient(top, #35a0f7, #216298);
		background: linear-gradient(to bottom, #35a0f7, #216298);
		text-shadow: #153e5f 1px 1px 1px;
		font: normal normal bold 16px verdana;
		color: #ffffff;
		text-decoration: none;
	}
		.spbc_button_rate:hover,
		.spbc_button_rate:focus {
			border: 1px solid #297bbe;
			background: #40c0ff;
			background: -webkit-gradient(linear, left top, left bottom, from(#40c0ff), to(#2876b6));
			background: -moz-linear-gradient(top, #40c0ff, #2876b6);
			background: linear-gradient(to bottom, #40c0ff, #2876b6);
			color: #ffffff;
			text-decoration: none;
		}
		.spbc_button_rate:active {
			background: #216298;
			background: -webkit-gradient(linear, left top, left bottom, from(#216298), to(#216298));
			background: -moz-linear-gradient(top, #216298, #216298);
			background: linear-gradient(to bottom, #216298, #216298);
		}
		#spbc_rate_plugin .spbc_button_rate:before{
			content:  "\0000a0";
			display: inline-block;
			height: 24px;
			width: 24px;
			line-height: 24px;
			margin: 0 4px -6px -4px;
			position: relative;
			top: 0px;
			left: 0px;
			background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACjElEQVRIie1UTWsTURQ9dzKpofQLobQFlxqENF1JG0GE6sKuRLDtTKaBkJUIRdwpba2g9ge48gMEUUyTbrUutFmk1X6Q7kxDgi1YUSmlpsGYiTXtuy7GCYnaSRu3PczAfe/dd8695z0ecIAKsFVK0DQNLpcL8Xi8KgHZalFRNWe7uyMs2+RtkBQIjQerU/k3uVceHhmdyed/8NbWFg8OXrlXDY+020JdXf2NQMB/yuE4hHw+j5yur1df7h9QvQMXpiKRHSEECyF4cvJlQVG149VwlZ1BX58fsn1H7e29+OhMd7cEAMyM6PTMNAgfFUWrJSIAQgCAYAKIAECABACABGFt7fPPaDRqjItVqyrqG5vGAn7/kMfTBYMIyGQyeD0VMZKYweYGM2ZjpnR+eWVl8V08fnYiNP6t1Jbzc3PzbNryP38stsiKqp0uWuTz+eBqd9/s6uo02vpdPTOXxZuZDB7cfwgQGa0TIEmS7nA4PhhDkgBgdXV1FkTzRYHCtjjS4XZ3mGQmSsdEhKbGRqhqPwRz0ZOlRKImGBy/FA4F31gd8tG2tjaZmf+VUybS2tpaNpfeTMsADu+2xxRw2O12ENFftpTG6XQat26PQZIIzEA2m/1SKBSGGXhhWZmiaifezs7yfhGdnmFF1TqtuM0OksvvlzMnPZ4mq+RkMoVsNlu83ImlxDqATxUFwqHg94aGhsc9PeeuNjc372pRMpnExsZX5HI5xBZjd3aEuBsOBTcs7TGherXaa9eHIqlUioUQltYIIXhkZPT5XnjL7qXi1Wpkm6w5nccGWlpanLJNlkGQyEw1Pui6rs8tLFx+9vTJq30JlKK/3ycRCQkSFZ8Dcwszi4lwUOylgwNUxC8cBKAS7hIWzwAAAABJRU5ErkJggg==") no-repeat left center transparent;
			background-size: 100% 100%;
		}

	.spbc_rate_block_stars {margin: 1em 0;}

		.star-icon {
			color: #ddd;
			font-size: 18px;
			position: relative;
		}
			.star-icon.full:before {
				color: #FDE16D;
				content: '\2605'; /* Full star in UTF8 */
				position: absolute;
				left: 0;
				text-shadow: 0 0 2px rgba(0,0,0,0.7);
			}

.spbc_hint { color: #666; }

.spbc_hint_warning{
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    color: #eb8f00;
}

.spbc_hint--link{ color: #aaa; text-decoration: underline; cursor: pointer; }
.spbc_hint--top_right{ position: relative; float: right; top: 0px; right: 10px; }

.spbc_auto_link{
	background: #ccc;
	border-color: #999;
	-webkit-box-shadow: inset 0 1px 0 rgba(200,200,200,.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(200,200,200,.5),0 1px 0 rgba(0,0,0,.15);
	color: #000;
	text-decoration: none;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.spbc_auto_link:hover{
	color: #fff;
}
.spbc_manual_link 
{
	background: #2ea2cc;
	border-color: #0074a2;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.spbc_manual_link:hover
{
	color:black;
}
.spbc_dismiss{
	width: 20px; height: 20px;
	border-radius: 5px;
}
/*
.spbc-div-2 {display: inline-block;}
*/
.spbc-links:visited{
	color: white;
}

.spbc_long_desc{
	position: absolute;
	background: #5a5a5a;
	min-width: 80px; min-height: 80px;
	max-width: 500px;
	padding: 10px;
	color: white;
	z-index: 10;
}
	i.animate-spin{
		-moz-animation: spin 2s infinite linear;
		-o-animation: spin 2s infinite linear;
		-webkit-animation: spin 2s infinite linear;
		animation: spin 2s infinite linear;
		display: inline-block;
		margin: 0 auto;
		font-size: 25px;
		line-height: 20px;
		color: rgba(120,200,230,1);
		margin: 25px;
	}
	@keyframes spin {
		to{transform: rotate(359deg);}
	}
	.spbc_long_desc__cancel{
		position: absolute;
		top: 5px; right: 5px;
		color: rgba(255,255,255,0.5);
	}
	.spbc_long_desc__cancel:hover{
		color: white;
	}
	.spbc_long_desc__angle{
		position: absolute;
		top: 5px; left: -17px;
		width: 10px; height: 10px;
		background: #5a5a5a;
		-webkit-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		transform: rotate(135deg);
		-webkit-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
	.spbc_long_desc__title{
		color: rgba(120,200,230,1);
		margin: 0;
	}

/* Popup tips */
.spbc_popup_tip--icon---show:hover{
	color: #aaaaaa;
	cursor: pointer;
}

.spbc_popup_tip--wrapper{
	position: absolute;
	background: #5a5a5a;
	min-width: 80px; min-height: 80px;
	max-width: 500px;
	padding: 10px;
	color: white;
	z-index: 10;
}
	.spbc_popup_tip--icon---cancel{
		position: absolute;
		top: 0px; right: 5px;
		color: rgba(255,255,255,0.5);
	}
	.spbc_popup_tip--icon---cancel:hover{
		color: white;
	}
	.spbc_popup_tip--angle{
		position: absolute;
		top: 5px; left: -17px;
		width: 10px; height: 10px;
		background: #5a5a5a;
		-webkit-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		transform: rotate(135deg);
		-webkit-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
	.spbc_popup_tip--title{
		color: rgba(120,200,230,1);
		margin: 0;
	}
	.spbc_popup_tip--text{
		color: #fff !important;
	}
tr:hover .spbc_hint--wrapper{display: none;}

.spbc_log-wrapper{
	padding: 5px;
	border: 1px black solid;
	width: 98%; height: auto;
	max-height: 200px;
	overflow: auto;
}
	.spbc_log-line{
		margin: 0;
		padding: 0 5px;
	}
	.spbc_log-line:nth-child(odd){
		background: lightgrey;
	}
	.spbc_log-block_header{
		margin: 10px 0;
	}
	.spbc_log-input--checkbox{
		width: auto;
	}
	.spbc_log-label--checkbox{
		width: auto;
	}