.spbc_meta_links{
	
}
	.spbc_translate_links{color: rgba(150, 150, 20, 1);}
	.spbc_faq_links      {color: rgba(20,  150, 20,  1);}
	.spbc_support_links  {color: rgba(150, 20,  20,  1);}
	.spbc_setting_links  {color: rgba(20,  20,  150, 1);}
	
	.spbc_translate_links:hover{color: rgba(210, 210, 20, 1) !important;}
	.spbc_faq_links:hover      {color: rgba(20,  250, 20,  1) !important;}
	.spbc_support_links:hover  {color: rgba(250, 20,  20,  1) !important;}
	.spbc_setting_links:hover  {color: rgba(20,  20,  250, 1) !important;}
	
.spbc_hide      {display: none;}
.spbcRed        {color: red;  }
.spbcGreen      {color: green;}
.spbcTextCenter {text-align: center;}